.grid-box{
display: grid;
grid-template-columns: 1fr 1fr 4fr ;
grid-template-rows: 2fr 2fr 1fr;
gap: 10px;
}
.logo{
    height: 250px;
    width: auto;
    border: solid black;
    border-radius: 10px;
}
h1{
    grid-column: 2/4;
    border: solid black;
    border-radius: 10px;
    text-align: center;
    height: 25%;
    background-color: #FF5C5C;
    padding-top: 10px;
}
.bild{
    height: 250px;
    width: auto;
    border: solid black;
    border-radius: 10px;
    grid-row: 2/3;
}
.Ingredienser{
    border: solid black;
    border-radius: 10px;
}