.grid-box{
display: grid;
grid-template-columns: 1fr 1fr 4fr ;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
gap: 10px;
}
.logo{
    height: 250px;
    width: auto;
    border: solid black;
    border-radius: 10px;
    grid-row: 1/3;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/4;
    border: solid black;
    border-radius: 10px;
    height: 60%;
    background-color: #FF5C5C;
}
.bild{
    height: 250px;
    width: auto;
    border: solid black;
    border-radius: 10px;
    grid-row: 3/5;
}
.Nav{
    border: solid black;
    border-radius: 10px;
    background-color: #FF5C5C;
    grid-row: 2/5 ;
}
h2{
    text-align: center;
}
li{
    padding-bottom: 7px;
}
.recept{
    grid-row: 2/5;
    border: solid black;
    border-radius: 10px;
    background-color: #FF5C5C;
}
.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column: 1/4;
    border: solid black;
    border-radius: 10px;
    background-color: #FF5C5C;
}